<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CPA Bond{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'webmaster/partial/header.html.twig' %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="alert alert-warning">
                Имперсонализация включена. <a href="{{ path('app_admin_user', {'_switch_user' : '_exit'}) }}">выйти</a>
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                {% include 'webmaster/partial/sidebar.html.twig' %}
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        {% include 'webmaster/partial/flash.message.html.twig' %}
                        {% block body %}{% endblock %}
                </main>
            </div>
        </div>
        {% include 'webmaster/partial/modal.confirm.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
